<div class="jumbotron">
	<div class="container-fluid">
  <h1>Do you want to know what your future holds?</h1>
  <p>...</p>
  <p><%= button_to "Get Your Fortune", cards_fortune_path, 
  :class => "btn btn-primary btn-lg", :role => "button", :method => :get %></p>
	</div>
</div>
